body, html {
  height: 100%;
  margin: 0;
  width:100%;
  margin:auto;
  min-width:780px;
}

.min-100 {
    min-height: 100%;
}

.bg {
  /* The image used */
  background-image: url("background/bg2.png");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.judul {
  color:white;
  text-align: left;
  font-size: 350%;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
}

.alamat {
  color:white;
  text-align: left;
  font-size: 150%;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
}

.waktu {
  color:floralwhite;
  font-size: 300%;
  margin-top: 10px;
  font-weight: bold;
}

.jumbotron {
  background-color:transparent !important; 
  color: white;
  text-align: center;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
  margin-top: 10px;
}

.sholat{
  text-align: center;
}

.footer{
  font-size: 130%;
  color:white;
}
